<template>

    <div class="modal fade" id.bind="name" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">${title}</h5>
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal" click.delegate="cancel()"> <!-- data-dismiss="modal" -->
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>

                <div class="modal-body">
                    <div if.bind="hasViewModel">
                        <compose view-model.bind="modalProperties.viewModel" view-model.ref="childViewModel" model.bind="{'data': data, 'modal': modalProperties}" ></compose>
                    </div>
                    <slot></slot>
                </div>

                <div class="modal-footer" if.bind="renderModalButtons">
                    <button type="button" class="btn ${modalProperties.confirm.class ? modalProperties.confirm.class : 'btn-primary'} ${modalProperties.confirm.disabled ? 'disabled' : ''}" click.delegate="confirm()" if.bind="showConfirm" disabled.bind="modalProperties.confirm.disabled">${modalProperties.confirm.text}</button>
                    <button type="button" class="btn ${modalProperties.cancel.class ? modalProperties.cancel.class : 'btn-danger'} ${modalProperties.cancel.disabled ? 'disabled' : ''}" click.delegate="cancel()" if.bind="showCancel" disabled.bind="modalProperties.cancel.disabled">${modalProperties.cancel.text}</button> <!-- data-dismiss="modal" -->
                    <button type="button" class="btn ${modalProperties.deny.class ? modalProperties.deny.class : 'btn-primary'} ${modalProperties.deny.disabled ? 'disabled' : ''}" click.delegate="deny()" if.bind="showDeny" disabled.bind="modalProperties.deny.disabled">${modalProperties.deny.text}</button>
                </div>

            </div>
        </div>

    </div>

</template>
